<!doctype html>
<html>
    <head>
      <title>Ramadan Counter</title>
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}"> 
    </head>
    <body>
        <div style="text-align: center;">
          <span style="font-size: 11vw; color: rgb(99, 207, 242);">Ramadan 2022</span>
        </div>
        <div style="text-align: center;">
          <span style="font-size: 7vw; color: rgb(99, 207, 242);">{{days}} day(s) left</span>
        </div>
      
      <br/>
      
      <div>
          <h3 style="text-align: center">Get the most out of Ramadan this year</h3>
          <ul class="no-bullets">
            <li><a style="text-decoration: none; color: #000000" href="https://tarteel.ai">Tarteel</a>, AI assisted Quran</li>
            
            <li><a style="text-decoration: none; color: #000000" href="https://quran.cafe">Quran.cafe</a>, quran radio</li>
            <li><a style="text-decoration: none; color: #000000" href="https://www.thepillarsapp.com">Pillars</a>, Muslim-built, no ads and privacy-focused.</li>
          </ul>
      </div>
    </body>
</html>